.title {
	width: 20px;
}

.completed {
	color: gray;
	font-style: italic;
	text-decoration: line-through;
}

.row {
	border-bottom: 2px solid rgb(201, 201, 201);
}

.content {
	height: 50px;
	width: 50px;
	text-align: end;
}

.button {
	background-color: #d04444;
	border-radius: 8px;
	border: 2px solid #ffffff;
	color: #ffffff;
	padding: 5px 10px;
	transition: 0.2s ease;
}

.button:hover {
	background-color: #ffffff;
	border: 2px solid #d04444;
	color: #d04444;
	transition: 0.2s ease;
}
