@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300&display=swap");

html,
body,
#root > div {
	height: 100vh;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav {
	font-size: 0.8em;
	background-color: white;
}

p,
#thx-msg {
	color: #19345e;
}

.fs-6 {
	font-size: 2em !important;
}

.fs-1 {
	font-size: 5.3em !important;
}

.fs-4 {
	font-size: 2.1em !important;
}

h3 {
	color: #19345e;
}

section {
	background-image: url("../assets/img/bg-img.png");
	background-size: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#profile-image {
	border-radius: 100%;
}

.nav-link {
	color: #19345e !important;
}

.nav-link:hover {
	color: #f47522 !important;
}

.active {
	color: #f47522 !important;
}

#submit-btn {
	border-radius: 50px;
	background-color: #f47522;
}

#side-image {
	background-image: url("../assets/img/charles-rRWiVQzLm7k-unsplash.jpg");
	background-size: cover;
}

#overlay {
	background: #19345ea6;
	z-index: 2;
}

#form {
	padding: 5em 6em;
}

#msg-container {
	height: 75%;
	width: 60%;
	z-index: 2;
}

.error-msg {
	font-size: 0.8em;
}

#line {
	border: 1px solid #ccd7eb;
}

#msg-footer {
	background-color: #edf6ff;
}

#dots-img {
	left: 20%;
}

@media (max-width: 576px) {
	section {
		font-size: 0.45em;
	}
	#side-image {
		height: 25%;
	}
	#side-image-logo {
		width: 50%;
	}
	#msg-container {
		width: 90%;
	}
}

@media (min-width: 576px) {
	section {
		font-size: 0.6em;
	}
	#msg-container {
		width: 62%;
	}
	#msg-footer {
		height: 28% !important;
	}
}

@media (min-width: 992px) {
	section {
		font-size: 1em;
	}
}

@media (min-width: 1200px) {
	section {
		font-size: 1.2em;
	}
	#msg-container {
		height: 60%;
	}
	#msg-footer {
		height: 40% !important;
	}
}
